<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sujin.delivery.repository.mapper.DeliveryMapper">
	<!-- <select id="findById" parameterType="Long"
	resultType="com.findjob.sample.domain.Sample">
    SELECT id, name
    FROM samples
    WHERE id = #{id}
  </select> 
  keyProperty="fruitId"
  -->

	<select id="getdeliveryId" parameterType="Long">
		SELECT DELIVERY_ID FROM delivery_info
	</select>
	<!--<select id="fruitProductOne">
		SELECT * FROM FRUIT_PRODUCT WHERE FRUIT_ID = #{id}
	</select>
	<update id="fruitProductUpdate">
		UPDATE FRUIT_PRODUCT SET FRUIT_NAME = #{request.fruitName}, 
								 FRUIT_PRICE = #{request.fruitPrice},
								 FRUIT_AMOUNT = #{request.fruitAmount},
								 FRUITCARTEGORY_ID = #{request.fruitcartegoryId}
				WHERE FRUIT_ID = #{id}
	</update>
	<delete id="deleteFruitProduct">
		delete from fruit_product where fruit_id = #{id}
	</delete>
	<insert id="fruitProductOrder" useGeneratedKeys="true">
				INSERT INTO FRUIT_PRODUCT (
									FRUITORDER_STATUS,
									MEMBER_ID,
									DELIVERY_ID

									)
							VALUES (
									0,
									#{memberId},
									#{deliberyId}
									)
	</insert>
	<update id="fruitProductChangeAmount">
		update fruit_product set fruit_amount = fruit_amount - #{fruitAmount} where fruit_id = #{fruitId}
	</update>-->
</mapper>

