<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sujin.delivery.repository.mapper.DeliveryMapper">
	<!-- <select id="findById" parameterType="Long"
	resultType="com.findjob.sample.domain.Sample">
    SELECT id, name
    FROM samples
    WHERE id = #{id}
  </select> 
  keyProperty="fruitId"
  -->


	<insert id="save" parameterType="com.sujin.delivery.domain.DeliveryInfo"   keyProperty="deliveryId" keyColumn="DELIVERY_ID">
		insert into deliveryinfo(DELIVERY_ADDRESS)
							values(#{deliveryAddress})

	</insert>

</mapper>

